# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
dist
build
storybook-static

# Development
.next
.turbo
.vercel
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Cache
.cache
tsconfig.tsbuildinfo
*.tsbuildinfo

# Temporary files
*.swp
*.swo
*~

# Logs
logs
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
